/* ::-webkit-scrollbar {
    display: block;
} */

:root {
    --main-background-color: rgb( 252, 252, 252);
    --nav-bar-height: 140px;
    --cafe-logo: #411423;
    --cafe-logo30: rgba(65, 20, 35, 0.3);
    --azul-oficial:#203b8f;
    --azulFondo: rgba(32, 59, 143, 0.09);
    --azulFade: rgba(32, 59, 143, 0.39);
    --amarillo:#E6B027;
    --rojo:#E61057;
    --verde: #27E639;
    --otro-azul: #0540E6;
    --letra: 10px;
    --titulo-proy: calc(var(--letra) * 2.2);
    --letra-icono: calc(var(--letra) * 1.8);
    --letraCanton: calc(var(--letra) * 1.6);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: var(--primary-color)
}

h2 {
    color: var(--secondary-color)
}

button {
    min-width: 60px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: white;
    outline: none;
}

button:focus {
    outline: none;
}

.hide {
    display: none !important;
}